<% provide(:title, 'Create Event') %>
<h1>Create Event</h1>

 <div class="row">
  <div class="span6 offset3">
    <%= form_for(@event, :html => { :multipart => true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

	  <%= f.datetime_select :datetime %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :contact %>
      <%= f.text_field :contact %>

      <%= f.label :type %>
      <%= f.text_field :type %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :codeword %>
      <%= f.text_field :codeword %>

      <%= f.file_field :avatar %>

      <%= f.submit "Create Event", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>