<% provide(:title, @event.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag(@event.avatar.url(:medium)) %>
        <%= @event.name %>
      </h1>
      <h2> <%=@event.datetime.localtime %> </h2>
      <h3><%=@event.location %></h3>
      <p><%= @event.description %></p>
     </section>
   </aside>
</div>