<% provide(:title, @event.name) %>
<div class="row">
  <aside class="span4">
    <section>
        <%= image_tag(@event.avatar.url(:medium)) %>
     </section>
   </aside>

     <div class="center">
      <h1><%= @event.name %></h1>
      <h3><%=@event.type %></h3>
      <h2> <%=@event.datetime.localtime %> </h2>
      <h3><%=@event.location %></h3>
      <p><%= @event.description %></p>
    </div>
</div>